@charset "UTF-8";


a:hover {
	color: orangered;
}
.userMenu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 1050px; height: 37px;
	font-size: 12px; padding: 0px -132px 0px 0px;
	z-index: 0;
}

