@charset "UTF-8";

/* content_mypage 메뉴 시작 */
.wrapper {
	grid-area: wrapper;
	display: grid;
	justify-content: center;
	align-content: center;
	width: 100%; min-width: 1050px;
}

.content_mypage { 
	width: 1200px; 
	display: inline-flex; justify-content:space-between;
}
.content_mypage .myPage {
	width: 220px; 
}
.content_mypage .myPage p{
	margin: 0px 0 12px 0;
	font-size: 20px; font-weight: 500;
}
.content_mypage .myPage .pageList {
	border-left: 1px solid #eee; border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}
.content_mypage .myPage .pageList .orderlist, .review {
	font-size: 14px; font-weight: 300; color: #777; text-align: left; padding-left: 25px;
	border-bottom: 1px solid #eee; height: 50px; line-height: 50px; 
}
.content_mypage .myPage .pageList .review {
	font-size: 14px; font-weight: 300; color: #777; text-align: left; padding-left: 25px;
	border-bottom: 1px solid #eee; height: 50px; line-height: 50px; 
}
.content_mypage .myPage .pageList .myrecipe {
	font-size: 14px; font-weight: 300; color: #777; text-align: left; padding-left: 25px;
	border-bottom: 1px solid #eee; height: 50px; line-height: 50px; 
}
.content_mypage .myPage .pageList .modify {
	font-size: 14px; font-weight: 300; color: #777; text-align: left; padding-left: 25px;
	border-bottom: 1px solid #eee; height: 50px; line-height: 50px; 
}
.content_mypage .myPage .pageList .exit {
	font-size: 14px; font-weight: 300; color: #777; text-align: left; padding-left: 25px;
	border-bottom: 1px solid #eee; height: 50px; line-height: 50px; 
}


/*마이페이지 메뉴 효과*/
.content_mypage .myPage .pageList .orderlist:hover {
	background-color: rgba(0, 0, 0, 0.05); cursor: pointer;
	color: orangered; font-weight: 500; transition: 0.5s;
}
.content_mypage .myPage .pageList .review:hover {
	background-color: rgba(0, 0, 0, 0.05); cursor: pointer;
	color: orangered; font-weight: 500; transition: 0.5s;
}
.content_mypage .myPage .pageList .myrecipe:hover {
	background-color: rgba(0, 0, 0, 0.05); cursor: pointer;
	color: orangered; font-weight: 500; transition: 0.5s;
}
.content_mypage .myPage .pageList .modify:hover {
	background-color: rgba(0, 0, 0, 0.05); cursor: pointer;
	color: orangered; font-weight: 500; transition: 0.5s;
}
.content_mypage .myPage .pageList .exit:hover {
	background-color: rgba(0, 0, 0, 0.05); cursor: pointer;
	color: orangered; font-weight: 500; transition: 0.5s;
}

/* 레시피 글 모음 */
.content_mypage .oderedList {
	margin-right: 150px; margin-bottom: 20px;
	font-size: 15px; height:33px; line-heiht:33px; font-weight: 200; color: #777;
	width: 800px; height: auto;
}
.content_mypage .oderedList b{
	font-size: 20px; height: 40px; line-height: 40px; font-weight: 500;
}

.content_mypage .oderedList .list_title {
	margin-bottom: 10px; color: black;
}
.content_mypage .oderedList .recipes p{
	padding-bottom: 10px;
	border:0; text-align: left;
}
